<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Telekha Employee Information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" />

<!-- <link rel="stylesheet" href="css/metricsgraphics.css" /> -->

<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        	</button>
      		<a class="navbar-brand" href="/">Telekha-Empinfo</a>
    	</div>
    	
    	 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	 	<ul class="nav navbar-nav">
    	 	    <!-- <li><a href="/">Home</a></li>
    	 	     <li><a class="active" href="/employeesinformation">Employees Information</a></li>  
    	 	     <li><a class="active" href="/empregform">Employee Registration</a></li>  -->	 	      	 		   	 		  	 		 	 		 
        	</ul>
        </div>  
     </div>
</nav>

<form action="#" th:action="@{/login}" method="get" id="searchForm"  style="float:right;margin-right:1cm;">
<button class="btn btn-primary" type="submit">Login</button>
   </form>
   <div align="center">
   
     <h4 style="text:center; color: blue; font-size:35px; margin-top:80px; margin-right:200px;">Employee Registration Form</h4></div>
   
                                         
<div class="col-md-3">
</div>
<div class ="panel panel-default col-md-4"  style="margin-top:1.5cm;">

<div align="center">
	
	<form action="#" th:action="@{/register}" method="get" id="searchForm" th:object="${Employee}">
		
		<div id="custom-search-input">
                    <div class="input-group col-md-12" style="margin-top:1cm;">
                        <h4> Employee Id:  <input type="text" th:value="${empid}" name="empid" placeholder="empid" required="true" />  </h4>          
                        <h4>  First Name:  <input type="text" th:value="${firstname}" name="firstname" placeholder="firstname" required="true" />  </h4>                
                        <h4>   Last Name:  <input type="text" th:value="${lastname}" name="lastname" placeholder="lastname" required="true" />  </h4>                                     
                        <h4>      Salary: <input type="text" th:value="${salary}" name="salary" placeholder="salary" required="true" /> </h4>                     
                        <h4>   Mobile No: <input type="text" th:value="${mobilenumber}" name="mobilenumber" placeholder="mobilenumber" required="true" /></h4>                      
                        <h4>    Email Id: <input type="email" th:value="${email}" name="email" placeholder="email" required="true" /></h4>
                        <h4>    Password: <input type="password" th:value="${password}"  name="password" placeholder="password" required="true"  /></h4>                                             
                        <h4> Blood Group: <input type="text" th:value="${bloodgrp}" name="bloodgrp" placeholder="bloodgroup"   required="true" /></h4>                                                  
                       <h4 style="margin-right:250px;">    Address:</h4><h4 style="margin-left:100px;"><textarea rows="4" columns="20" th:value="${address}" name="address" placeholder="address" required="true" ></textarea> </h4>                                           
                        
 
                       <h4> Designation: <select required="true" id="employee"  th:field="*{desigopt}" title="Choose a desig" >
  			               <option th:each="desigopt: ${T(com.telekha.empinfo.model.EmployeeDesig).values()}" th:value="${desigopt}" th:text="${desigopt}"></option>
  			              </select></h4>                                                                                                           
                        <h4> Report To: <select required="true" id="Employee"  th:field="*{reportusers}" title="Choose a person to report" >
  			               <option th:each="reportusers: ${T(com.telekha.empinfo.model.EmployeeReport).values()}" th:value="${reportusers}" th:text="${reportusers}"></option>
  			              </select></h4>   			               			                 			               			   			              
  			           <div>
                        <label>Gender: </label>                         
                             <input type="radio" th:field="*{gender}" th:value="Male" name="Male" required="true"/>
                         <label>Male</label>                              
                             <input type="radio" th:field="*{gender}" th:value="Female" name="Female" required="true"/>
                          <label>Female</label>
                          
                          
                          
                            <!--  </li>
                              <li th:remove="all"><input type="radio" /> <label>Second Type</label></li>
                               </ul> -->
                          </div> 
  			               <!--  <h4>  First Name:  <input type="text" th:value="${fname}" name="fname" placeholder="firstname" required="true" />  </h4>   
                        <h4>   Last Name:  <input type="text" th:value="${lname}" name="lname" placeholder="lastname" required="true" />  </h4>                
  			                     <h4>Mobile Number: <input type="text" th:value="${mobno}" name="mobno" placeholder="mobilenumber" required="true" /></h4>
  			               <h4>     Password: <input type="password" th:value="${pwd}"  name="pwd" placeholder="password" required="true"  /></h4>                        -->
  			               			             			              		               			               			               			              			                			                			      		                			                			                                                                                                                                                                                                                                                            
                               <h4> <span class="input-group-btn">
                                    
                                    <button class="btn btn-primary" type="submit">Register
                                        
                                    </button>
                                    
                                </span></h4>
                            </div>
                        </div>             
			</form>
			</div> 
		<!-- <script type="text/javascript">	 $("#searchForm").validate({
           rules: {
               password: { 
                 required: true,
                    minlength: 6,
                    maxlength: 10,

               } , 

                  
     messages:{
         password: { 
                 required:"the password is required"

               }
     }</script> -->
  <h4 th:text="${errormsg}"></h4>
  </div>
<div class="container">
<div id="telk-registered-users"></div>

<!-- <div align="center" style="color: #4285f4">
 <h1>Employees Information</h1>
 
</div> -->
</div>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
</body>
</html>